.order{
    padding: 30px 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

.order_text{
    margin: 0 20px;
}

.order_text_1{
    border-top: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
}

.order_total{
    font-weight: 500;
    text-align: right;
    margin-right: 30px;
}

