.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-height: 100px;
    background-color: white;
    z-index: 10;
}

.product_info{
    padding: 10px 0;
    text-align: center;
}

.product_name{
    font-size: 16px;
    font-weight: 600;
}
.product_price{
    font-size: 14px;
    font-weight: 500;
}

.product_rating{
    display: flex;
    color: #ffa41c;
    margin: 5px 0;
    justify-content: center;
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
}

.product > button{
    background-color: #ffd814;
    width: 120px;
    border: none;
    border-radius: 20px;
    line-height: 24px;
    margin: 10px 0;
}

.product > button:hover{
    background-color: #ffa41c;
    transition: 0.25s;
}

