.banner_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    z-index: 10;
    min-width: 230px;
    width: 50%;
}

.banner_1{
    box-sizing: border-box;
    background-color: white;
    padding: 25px;

}

.banner_name{
    font-size: 24px;
    font-weight: bold;
}

.banner_btn{
    background-color: #ffd814;
    border: none;
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}

.banner_btn:hover{
    line-height: 26px;
    background-color: white;
    border: 2px solid #ffd814;
    transition: 0.25s;
}

.banner_2{
    height: calc(65% - 20px);
    background-color: white;
    margin-top: 20px;
    overflow: hidden;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/October/Fuji_D2_45M_en_US_2x._CB418309979_.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #01b9ed;
}

.banner_3{
    width: 100%;
    background-color:#feb45a;
}

.banner_3 > img{
    width: 100%;
    object-fit: contain;
}